mixin video(video)
    a(href=`/videos/${video._id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${isRender ? video.thumbnailUrl :"/"+ video.thumbnailUrl});background-size:cover;background-position:center;`)
        div.video-mixin__info
            if url==="/"
                if !video.owner.avatarUrl
                    i.fa-solid.fa-face-smile
                else
                    img(src=video.owner.avatarUrl).homeVideoAvatar 
            div.video-mixin__data
                span.video-mixin__title=video.title
                div 
                    span.video-mixin-name.grey #{video.owner.name}
                div.video-mixin__meta
                    span.grey #{video.meta.views} views • 
                    span.grey #{video.formattedDate} 